*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: 0.5s;
}

hr{
    height: 2px;
    border-radius: 10px;
    background-color: #1b1b1b;
    border: none;
}

body{
    background-color: #F0F2F2;
    font-family: "Poppins", sans-serif;
}

h1{
    color: #1b263b;
}

li,a,button{
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #1b1b1b  ;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px 3px 5px;
    background-color: #fff;
}

.navbar{
    display: flex;
    margin: 5px;
    align-items: center;
    text-align: center;
}

.navlink{
    display: flex;
    gap: 40px;
    align-items: center;
    text-align: center;
}


.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img{
    box-shadow: 2px 2px 2px 2px #0909094c;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.img-josane{
    width: 100px;
    height: 200px;
}

#btn-serviço{
    width: 100px;
    box-shadow: 2px 2px 2px 2px #0909094c;
    border: none;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background-color: #006eff;
    color: #F0F2F2;
}


.home-page{
    background-image: url('../img/sala.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    min-height: 100vh; 
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.home-container{
    background-color: #f0f2f26f;
    border-radius: 30px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.home-content{
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    text-align: center;
    align-items: center;
    max-width: 700px;
    font-size: 16px;
    font-weight: bold;
    margin: auto;

button{
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: #006eff;
    color: #F0F2F2;
}
}

.serviço-page{
    background-color: #34A9E6;
    text-align: center;
    align-items: center;    

h1{
    text-decoration: underline;
    text-decoration-color: #00ffd0;
} 

h1,p{
    background: #fff;
} 

}

.serviço-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;    
}

.serviço{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    width: 300px;
    margin: 10px;


img{
    margin-top: 5px;
    width: 200px;
    border-radius: 30px;
    background-color: #F0F2F2;
}

button{
    margin-bottom: 5px;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
    border: none;
    color: #fff;
    background-color: #006eff;
}
}

.local-page{
    background-color: #34A9E6;
    background-image: url('../img/map.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.local-container{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;


h1{
    text-decoration: underline;
    text-decoration-color: #00ffd0;
} 

h1,p{
    background: #fff;
} 


iframe{
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 30px;
}
}